<div id="<%= dom_id course %>">
  <p>
    <strong>Coding class:</strong>
    <%= course.coding_class.title %>
  </p>

  <p>
    <strong>Trimester:</strong>
    <%= "#{course.trimester.term} #{course.trimester.year}" %>
  </p>

  <strong>Enrolled students</strong>
  <p>
    <%= link_to "View enrolled students", course_enrolled_students_path(course) %>
  </p>

  <p>
    <strong>Max enrollment:</strong>
    <%= course.max_enrollment %>
  </p>

  <div>
    <%= link_to "All Submissions", course_submissions_path(@course) %> 
  </div>
</div>
